<section class="home-content py-20">
    <section class="ml-20 certificate_container py-20">
 
            
            <% if(empty){ %>
                <h1 class="heading"> No certificate for this student has been created. </h1>
            <% }else{ %>
                <h1 class="heading"> Certificate Details </h1>
                <a href="#bottom" id="top" name="top"><h3 class="sub-heading -mt-10 mb-10"> (Click here/Scroll to the page bottom for Comment) </h3></a>
                <div class="row">
                    
                    <ul class="list-disc text-2xl">
                        <li class="mb-5">Certificate Status:
                            <span class="font-bold text-3xl"> 
                                &nbsp;&nbsp;<%= certificate.isVerified==='not_verified'?"Not Approved" : "Approved"%>
                            </span>
                        </li>
                        <li class="mb-5">Created At:<span class="font-bold"> <%= moment(certificate.createdAt).format('MMMM Do, YYYY h:mm:ss A') %></span></li>
                        <li class="mb-5">Last Update:<span class="font-bold"> <%= moment(certificate.updatedAt).format('MMMM Do, YYYY h:mm:ss A') %></span></li>
                        <li class="mb-5">University Name: <span class="font-bold"><%= certificate.university_name%></span></li>
                        <li class="mb-5">Full Name: <span class="font-bold"><%= certificate.full_name%></span></li>
                        <li class="mb-5">Required Credits: <span class="font-bold capitalize"><%= certificate.credit %></span></li>
                        <li class="mb-5">CGPA: <span class="font-bold capitalize"><%= certificate.cgpa %></span></li>
                        <li class="mb-5">Major: <span class="font-bold capitalize"><%= certificate.major %></span></li>
                        <li class="mb-5">Minor: <span class="font-bold capitalize"><%= certificate.minor %></span></li>
                        <li class="mb-5">Date of Birth:<span class="font-bold"> <%= moment(certificate.dob).format('MMMM Do, YYYY') %></span></li>
                        <li class="mb-5">Date of Admission:<span class="font-bold"> <%= moment(certificate.doa).format('MMMM Do, YYYY') %></span></li>
                        <li class="mb-5">Date of Graduation<span class="font-bold"> <%= moment(certificate.dog).format('MMMM Do, YYYY') %></span></li>
                        <li class="mb-5">Father's Name: <span class="font-bold"><%= certificate.father_name%></span></li>
                        <li class="mb-5">Mother's Name: <span class="font-bold"><%= certificate.mother_name%></span></li>
                        
                        <!-- ... -->
                    </ul>
                    
                    <div>
                        <h1 class="text-center text-4xl mb-10">Comments:</h1>
                        <% certificate.comments.forEach(comment => { %>  
                            <div name="commentBox" style= "margin-bottom: 15px;">
                                <h3 class="text-3xl italic mb-3" style="text-decoration:underline;">
                                    <%= comment.posterType %> &nbsp;(<%= moment(comment.createdAt).fromNow() %>)
                                </h3>
                                <p class="text-3xl"><%= comment.textBody %> </p>
                            </div>    
                        <% }) %>   
                        
                    </div>
                   
                    <form action="/certificate-comment/save"  method="POST" id="commentForm" class="mt-10">
                        
                        <label for="commentText" class="block text-left" style="max-width: 800px;font-size:25px">
                            Message to Maker
                        </label>   
                            <textarea
                                class="form-textarea mt-1 block w-full outline-2 text-2xl"
                                rows="10"
                                placeholder="Enter text and click 'Send' button"
                                id="commentText"
                                name="commentText"
                            ></textarea>
                            <input hidden type="text" id="cID" name="cID" value="<%= certificate._id %>">>
                        <button type="submit" class="btn">Send</button>
                        
                    </form>
                    
                   
                </div>
                
                <a class="float-right mt-10 text-2xl " href="#top" name="bottom" id="bottom" href="/student/dashboard">Go Back</a>
           
            <%}%> <%# End of else block %>.
        
        </section>
</section>