<!-- Certificate Section Start -->
<section class="home-content py-20">
    <section class="ml-20 certificate_container py-20">
  
            <h1 class="heading mb-10"> Welcome to UGC Instant Certificate Verification </h1>
        
            <form id="read_form">
                <div class="row">
                    <h4 class="mb-10">This Certificate Was Added to Blockchain on <%= moment(certificate.updatedAt).format('MMMM Do, YYYY h:mm A')  %></h4>
                    <div class="input-group input-group-icon">
                        <h4 class="mt-2 ml-20"><%= certificate.full_name %></h4>
                        <span class="input-icon">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="input-group input-group-icon">
                        <h4 class="mt-2 ml-20"><%= certificate.email_address %></h4>
                        <span class="input-icon">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                    <div class="input-group input-group-icon">
                        <h4 class="mt-2 ml-20"><%= certificate.student_id %></h4>
                        <span class="input-icon">
                            <i class="far fa-id-badge"></i>
                        </span>
                    </div>
  
                    <div class="row mt-10">
                        <div class="col-half">
                            <h4>Required Credit:</h4>
                            <div class="input-group">
                                    <h5><%= certificate.credit %></h5>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Required Courses:</h4>
                            <div class="input-group">
                                <h5><%= certificate.courses %></h5>
                            </div>
                        </div>
                    </div>
  
                    <div class="row mt-4">
                        <div class="col-half">
                            <h4>University Name:</h4>
                            <div class="input-group">
                                <div class="university_name">
                                    <h5><%= certificate.university_name %></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Major:</h4>
                            <div class="input-group">
                                <div name="major">
                                    <h5><%= certificate.major %></h5>
                                </div>
                            </div>
                        </div> 
                    </div>
  
                    <div class="row mt-4">
                        <div class="col-half">
                            <h4>CGPA:</h4>
                                <div class="input-group">
                                    <div class="">
                                        <h5><%= certificate.cgpa %></h5>
                                    </div>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Minor:</h4>
                            <div class="h5-group">
                                <div name="minor">
                                    <h5><%= certificate.minor %></h5>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="row mt-4">
                        <div class="col-half">
                            <h4>Gender:</h4>
                            <div class="input-group">
                                <h5><%= certificate.gender %></h5>
                            </div>
                        </div>
                        <div class="col-half font-bold">
                            <h4>Date of Birth:</h4>
                            <div class="input-group">
                                <div class="col-third">
                                    <h5 class=""><%= moment(certificate.dob).format('MMMM Do, YYYY')  %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="row mt-4">
                        <div class="col-half">
                            <h4>Date of Admission:</h4>
                            <div class="h5-group">
                                <div class="col-third">
                                    <h5><%= moment(certificate.doa).format('MMMM Do, YYYY')  %></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Date of Graduation:</h4>
                            <div class="input-group">
                                <div class="col-third">
                                    <h5><%= moment(certificate.dog).format('MMMM Do, YYYY') %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
  
                    <div class="row mt-4">
                        <div class="col-half">
                            <h4>Issued Date:</h4>
                            <div class="h5-group">
                                <div class="col-third">
                                    <h5><%= moment(certificate.createdAt).format('MMMM Do, YYYY') %></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Updated Date:</h4>
                            <div class="input-group">
                                <div class="col-third">
                                    <h5><%= moment(certificate.updatedAt).format('MMMM Do, YYYY') %></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </form>
        </section>
  </section>