    <!-- registration section start -->
    <section class="registration py-20" >

        <h1 class="heading"> Student Registration Form </h1>
        <h3 class="sub-heading">Please properly fill and submit form to complete registration.Optional fields are marked as such </h3>
        
        
        <form action="/student/registration" method="POST">
            <% if(messages.error) { %>
                <span class="text-red-500 text-2xl font-bold"><%= messages.error %></span>
            <% } else { %>
                <span class="text-green-500 text-2xl font-bold"><%= messages.success %></span>
            <% } %>
            <div class="inputBox">
                <div class="input">
                    <label for="firstName">First Name</label>
                    <input name="firstName" id="firstName" value="<%= messages.firstName %>" type="text" placeholder="enter your first name">
                </div>
                <div class="input">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" name="lastName" value="<%= messages.lastName %>" type="text" placeholder="enter your last name">
                 </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <label for="fatherName">Father's Name(optional)</label>
                    <input name="fatherName" id="fatherName" value="<%= messages.fatherName %>" type="text" placeholder="enter your father's name">
                </div>
                <div class="input">
                    <label for="mohterName">Mother's Name(optional)</label>
                    <input id="mohterName" name="mohterName" value="<%= messages.mohterName %>" type="text" placeholder="enter your mother's name">
                 </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <label for="dob">Date of Birth</label>
                    <input type="date" name="dob" id="dob" value="<%= messages.dob %>" type="text" placeholder="MM/DD/YYYY">
                </div>
                <div class="input">
                    <label for="uniName">University Name</label>
                    
                    <select name="uniName" id="" class="select-box">
                        <% uniNames.forEach(function(value) { %>
                            <option value="<%= value.uniName %>"> <%= value.uniName %></option>
                         <% }); %>
                
                    </select> 
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <label for="studentEmail">Your Academic Email</label>
                    <input name="studentEmail" id="studentEmail" value="<%= messages.studentEmail %>" type="text" placeholder="enter your university email">
                </div>
                <div class="input">
                    <label for="studentID">Your Personal Email</label>
                    <input id="studentID" name="personalEmail" value="<%= messages.personalEmail %>" type="text" placeholder="enter your personal email">
                 </div>
                 <div class="input">
                    <label for="studentID">Your Student ID</label>
                    <input id="studentID" name="studentID" value="<%= messages.studentID %>" type="text" placeholder="enter your student ID">
                 </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <label for="phone">Phone Number</label>
                    <input name="phone" type="phone" value="<%= messages.phone %>" type="text" placeholder="enter your contact number">
                </div>
                <div class="input">
                    <label for="address">Address</label>
                    <input id="address" name="address" value="<%= messages.address %>" type="text" placeholder="enter your present address">
                </div>
            </div>
            <div class="inputBox">
                <div class="input">
                    <label for="password">Password</label>
                    <input id="password" name="password" value="" type="password" placeholder="****************">
                </div>
                <div class="input">
                    <label for="confirmPass">Confirm Password</label>
                    <input id="confirmPass" name="confirmPass" value="" type="password" placeholder="*****************">
                </div>
            </div>
        
            <button type="submit" class="btn">Registration</button>
            <a href="/student/login">Already have account?</a>
            <a class="float-right mt-6" href="/registration">Go Back</a>
        </form>
        
    </section>
    <!-- registration section end -->